{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroAddressBundle::macros.html.twig' as address %}
{# 
Einzeltemplate für einen Sponsor.
Wird im Account verwendet
 #}



<div class="widget-content row-fluid ">
    <div class="responsive-cell form-horizontal">
    	{% set sponsor_name_link %}
            <a href="{{ path('dmkclub_sponsor_view', {'id':sponsor.id}) }}">
                {{ sponsor.name|escape }}
            </a>
        {% endset %}
        {{ UI.renderHtmlProperty('dmkclub.sponsor.name.label'|trans, sponsor_name_link) }}
        
        {%- if resource_granted('oro_contact_view') and sponsor.contact -%}
            {% set contactView = '<a href="' ~ path('oro_contact_view', {'id': sponsor.contact.id}) ~ '">' ~ sponsor.contact|oro_format_name|escape ~ '</a>' %}
        {%- else -%}
            {% set contactView = sponsor.contact ? sponsor.contact|oro_format_name : 'keiner' %}
        {%- endif -%}

        {{ UI.renderHtmlProperty('dmkclub.sponsor.contact.label'|trans, contactView) }}

        {%- if sponsor.category -%}
        	{{ UI.renderHtmlProperty('dmkclub.sponsor.category.entity_label'|trans, sponsor.category.name) }}
        {%- endif -%}

        {{ UI.renderHtmlProperty('dmkclub.sponsor.billing_address.label'|trans, address.renderAddress(sponsor.billingAddress)) }}
    </div>

</div>
