{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'DMKClubBasicsBundle::macros.html.twig' as CLUBUI %}
{% import 'OroSalesBundle::macros.html.twig' as sales %}
{# 
Einzeltemplate für ein Mitglied.
Wird im Account verwendet
 #}


<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('dmkclub.member.member_code.label'|trans, entity.memberCode) }}
            {{ UI.renderProperty('dmkclub.member.start_date.label'|trans, entity.startDate ? entity.startDate|oro_format_date : null) }}
            {%- if entity.endDate -%}
            	{{ UI.renderProperty('dmkclub.member.end_date.label'|trans, entity.endDate|oro_format_date) }}
            {% endif %}
            {%- if entity.contact -%}
	            {%- set birthdayData -%}
	                {{ entity.contact.birthday is not empty ? entity.contact.birthday|oro_format_date : null }}
	                {% if entity.contact.birthday is not empty %} ({{ entity.contact.birthday|age_string({'default': 'N/A'}) }}){% endif %}
	            {%- endset -%}

            	{{ UI.renderProperty('oro.contact.birthday.label'|trans, entity.contact.birthday ? birthdayData : null) }}
	            {{ UI.renderProperty('oro.contact.gender.label'|trans, oro_gender(entity.contact.gender)) }}
	            {{ UI.renderHtmlProperty('oro.contact.emails.label'|trans, entity.contact.emails.count ? sales.renderCollectionWithPrimaryElement(entity.contact.emails, true, entity.contact) : null) }}
	            {{ UI.renderHtmlProperty('oro.contact.phones.label'|trans, entity.contact.phones.count ? sales.renderCollectionWithPrimaryElement(entity.contact.phones, false, entity.contact) : null) }}
            {% endif %}
            {{ CLUBUI.renderPropertyBoolean('dmkclub.member.is_active.label'|trans, entity.isActive) }}
            {{ CLUBUI.renderPropertyBoolean('dmkclub.member.is_honorary.label'|trans, entity.isHonorary) }}
            {{ CLUBUI.renderPropertyBoolean('dmkclub.member.is_free_of_charge.label'|trans, entity.isFreeOfCharge) }}
            {% if entity.bankAccount is not empty %}
              {{ UI.renderProperty('dmkclub.payment.bankaccount.account_owner.label'|trans, entity.bankAccount.accountOwner) }}
              {{ UI.renderProperty('dmkclub.payment.bankaccount.iban.label'|trans, entity.bankAccount.iban) }}
              {{ UI.renderProperty('dmkclub.payment.bankaccount.bic.label'|trans, entity.bankAccount.bic) }}
              {{ UI.renderProperty('dmkclub.payment.bankaccount.bank_name.label'|trans, entity.bankAccount.bankName) }}
              {{ UI.renderProperty('dmkclub.payment.bankaccount.direct_debit_valid_from.label'|trans, entity.bankAccount.directDebitValidFrom ? entity.bankAccount.directDebitValidFrom|oro_format_date : null) }}
            {% endif %}

		</div>
    </div>
</div>
