{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroAddressBundle::macros.html.twig' as address %}
{% import 'DMKClubBasicsBundle::macros.html.twig' as CLUBUI %}

{#
Wird in der Detailansicht der Abrechnung verwendet
 #}

{% set sepa_creditor %}
    {% if (entity.sepaCreditor) %}
    <span title="IBAN: {{ entity.sepaCreditor.iban }}">
    {{ entity.sepaCreditor.name}} ({{ entity.sepaCreditor.creditorId ?: '-' }})
    </span>
    {% endif %}
{% endset %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('dmkclub.member.memberbilling.name.label'|trans, entity.name) }}
            {{ UI.renderProperty('dmkclub.member.memberbilling.start_date.label'|trans, entity.startDate ? entity.startDate|oro_format_date : null) }}
            {{ UI.renderProperty('dmkclub.member.memberbilling.end_date.label'|trans, entity.endDate ? entity.endDate|oro_format_date : null) }}
            {{ UI.renderProperty('dmkclub.member.memberbilling.segment.label'|trans, entity.segment ? entity.segment.name : null ) }}
        </div>
        <div class="responsive-block">
            {% if (entity.sepaCreditor) %}
            {{ UI.renderHtmlProperty('dmkclub.member.memberbilling.sepa_creditor.label'|trans, sepa_creditor ) }}
            {% endif %}

    		{{ UI.renderProperty('dmkclub.member.memberbilling.processor.label'|trans, entity.processor) }}
    		{{ UI.renderProperty('dmkclub.member.memberbilling.template.label'|trans, entity.template ? entity.template.name : null ) }}
    		{{ entityConfig.renderDynamicFields(entity) }}
          </div>
    </div>
</div>
