{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'DMKClubBasicsBundle::macros.html.twig' as CLUBUI %}

{% set fullname = entity|oro_format_name|default('N/A') %}
{% oro_title_set({params : {"%member.name%": fullname} }) %}

{% block navButtons %}
    {% if not entity.member %}
        {{ UI.clientButton({
            'dataUrl' : path('dmkclub_member_proposal_createmember', { id: entity.id }),
            'iCss' : 'fa-forward', 'title' : 'dmkclub.member.memberproposal.action.createmember'|trans ,
            'aCss' : 'btn-primary',
            'label' : 'dmkclub.member.memberproposal.action.createmember'|trans,
            'widget' : {
                'type' : 'dialog',
                'multiple' : false,
                'options' : {
                    'stateEnabled': false,
                    'dialogOptions' : {
                        'title' : 'dmkclub.member.memberproposal.action.createmember'|trans,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 600
                    }
                }
            }
    	}) }}
    {% endif %}

    {{ UI.cancelButton(path('dmkclub_member_proposal_index')) }}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('dmkclub_member_proposal_update', { 'id': entity.id }),
            'entity_label': 'dmkclub.member.memberproposal.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('dmkclub_member_proposal_index'),
        'indexLabel': 'dmkclub.member.memberproposal.entity_plural_label'|trans,
        'entityTitle': fullname
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.status is not null %}
            {% if entity.status.id == 'joined' %}
                <div class="badge badge-enabled status-enabled"><i class="fa-status-enabled fa-circle"></i>{{ entity.status.name }}</div>
            {% elseif entity.status.id == 'refused' %}
                <div class="badge badge-danger status-danger"><i class="fa-status-danger fa-circle"></i>{{ entity.status.name }}</div>
            {% elseif entity.status.id == 'initial' %}
                <div class="badge badge-info status-info"><i class="fa-status-info fa-circle"></i>{{ entity.status.name }}</div>
            {% elseif entity.status.id == 'in_progress' %}
                <div class="badge badge-tentatively status-tentatively"><i class="fa-status-tentatively fa-circle"></i>{{ entity.status.name }}</div>
            {% else %}
                <div class="badge badge-disabled status-unknown"><i class="fa-status-disabled fa-circle"></i>{{ entity.status.name }}</div>
            {% endif %}
        {% endif %}
    </div>
{% endblock breadcrumbs %}


{% block content_data %}
    {% set memberInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url':         path('dmkclub_member_proposal_widget_info', {id: entity.id})
        }) }}
    {% endset %}



    {% set memberAdditionalInfo %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url':         path('dmkclub_member_proposal_widget_additionalinfo', {id: entity.id})
        }) }}
    {% endset %}

    {% set memberDiscountInfo %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url':         path('dmkclub_member_proposal_widget_discountinfo', {id: entity.id})
        }) }}
    {% endset %}


    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {
                	'data' : [memberInformationWidget],
                },
                {
                	'data' : [memberAdditionalInfo],
                },
                {
                    'title': 'dmkclub.member.memberfeediscount.entity_label'|trans,
                    'data': [memberDiscountInfo],
                }
            ]
        }
] %}

    {% set id = 'dmkclubMemberView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
