{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set fullname = entity.name %}
{% oro_title_set({params : {"%member.name%": fullname} }) %}

{% block navButtons %}
    {{ UI.cancelButton(path('dmkclub_member_index')) }}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('dmkclub_member_update', { 'id': entity.id }),
            'entity_label': 'dmkclub.member.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('dmkclub_member_index'),
        'indexLabel': 'dmkclub.member.entity_plural_label'|trans,
        'entityTitle': fullname
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.status == 'active' %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ entity.status|trans }} ({{ entity.memberCode }})</div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ entity.status|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block stats %}
    {{ parent() }}
    <li>
        <div class="pull-right label label-info orocrm-channel-lifetime-value-label">
        Stats
        </div>
    </li>
{% endblock stats %}

{% block content_data %}
    {% set memberInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url':         path('dmkclub_member_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set memberFees %}
        {% set memberFeeGrid = 'dmkclub-memberfees-grid-member' %}
        {{ dataGrid.renderGrid(memberFeeGrid, {member: entity.id}) }}
    {% endset %}

		{% set memberFeeDiscounts %}
				{% set memberFeeDiscountGrid	 = 'dmkclub-memberfeediscounts-grid-member' %}
		    {{ dataGrid.renderGrid(memberFeeDiscountGrid, {member: entity.id}) }}
		    {% set dialogTitle = 'dmkclub.member.memberfeediscount.action.create.title'|trans %}
				{{ UI.clientButton({
						'dataUrl': path('dmkclub_member_memberfeediscount_create', { 'memberId': entity.id }),
						'aCss': 'no-hash',
						'iCss': 'icon-plus-sign',
						'dataId': entity.id,
						'title' : dialogTitle,
						'label' : dialogTitle,
						'widget' : {
							'type' : 'dialog',
							'multiple' : false,
							'reload-grid-name' : 'dmkclub-memberfeediscounts-grid-member',
							'options' : {
								'stateEnabled': false,
								'dialogOptions' : {
									'title' : dialogTitle,
									'allowMaximize': true,
									'allowMinimize': true,
									'dblclick': 'maximize',
									'maximizedHeightDecreaseBy': 'minimize-bar',
									'width': 600
								}
							}
						}
					})
				}}
		{% endset %}

{#     {% set feeDiscountWidget %}#}
{#         {{ oro_widget_render({#}
{#             'widgetType': 'block',#}
{#             'contentClasses': [],#}
{#             'url': path('dmkclub_member_memberfeediscount_infoblock', {id: entity.id}),#}
{#             'title': 'Member fee discount'|trans#}
{#         }) }}#}
{#     {% endset %}#}


    {% set generalSubBlocks = [{'data' : [memberInformationWidget]}] %}
    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': generalSubBlocks
        },
        {
            'title': 'dmkclub.member.fees.label'|trans,
            'subblocks': [
                {
                  'title': 'dmkclub.member.fees.label'|trans,
                	'data' : [
                		memberFees
                	]
								},
                {
                  'title': 'dmkclub.member.memberfeediscount.entity_label'|trans,
                	'data' : [
                		memberFeeDiscounts
                	]
								}
            ]
        }
] %}

    {% set id = 'dmkclubMemberView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
